body {
  font-family: sans-serif;
  margin: 20px auto;
  padding: 20px 100px;
}

h1 {
  text-align: center;
  font-weight: 900;
}

.text-result .text-title {
  font-size: 1.2rem;
}

#search-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#movie {
  display:flex;
  justify-content: space-evenly;
  border-bottom: solid;
  margin: 20px;
}

.search {
  display: flex;
  justify-content: space-between;
}

img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  width: 100px;
  height: auto;
}
